.background{
	margin-top: 162px;
	
}


.img{
	    width: 741px;
    margin-left: 258px;


}

#start{
	    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    color: red;
    background-color: white;
    margin-top: 75px;
}

#white{
	    width: 340px;
    position: absolute;
    margin-left: 257px;
    height: 345px;
    background-color: white;
}

#singly, #random{
	margin-left: 200px;
    margin-top: 60px;
	position: absolute;
	width: 250px;
	background-color: white;
	color: red;
}

#singly{
	margin-top: 130px;
}

.canvas{
    position: absolute;
    margin-top: 36px;
    width: 695px;
    height: 300px;
     margin-left: 295px;

}

.MinMenu{
    margin-top: -290px;
    margin-left: 200px;
}

.Buttommenu{
    background-color: white;
    color: red;
     width: 250px;
     position: absolute;

}

#play{
        margin-top: 45px;
   
    
}

#another{
    height: 35px;
}
#anoth{
    height: 35px;
}

.placeShip{
    width: 255px;
    color: red;
    position: absolute;
}
.place{
    color: red;
    position: absolute;
    margin-top: 78px;
    margin-left: 222px;
}
